@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

:root {
    * {
        --bs-card-bg: rgb(149, 93, 57) !important;
        --bs-card-bg-hex: #955d39;
    }
}

button {
    font-size: 0.75rem !important;
}

i {
    margin-right: 0.2rem;
}

.game-over-modal {
    .modal-header, .modal-body, .modal-footer {
        justify-content: center!important;
    }
}